body {
  text-align: center;
	align-items: center;
  background-color: #000000;
  color: #EEEEFF;
}

div.topgrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
div.topgriditem {
  text-align: center;
  color: #AAAAFF;
  font-size: 30px;
}
div.story {
  max-width: 600px;
	margin: auto;
  align-self: center;
  text-align: left;
  color: #EAEAFF
  font-size: 20px;
}
strong.WORB {
  color: #FAFAFF;
  font-size: 20px;
}
