body {
  text-align: center;
	align-items: center;
  background-color: #000000;
  color: #FFFFFF;
}

div.top {
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #EEEEFF
  font-size: 20px;
}
div.story {
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  text-indent: 5%;
  color: #EEEEFF
  font-size: 20px;
}
a.WORB {
  color: #CCCCFF;
  font-size: 20px;
  font-style: oblique;
}
